extends main_layout

block content
  h1= title
  h4= message
  
  h2 Node JS: server Javascript Course
  div
    p Start learning Node.js today with this book that is optimized for experiential learning. 
  hr 
  h2 Only for $39.00

  a.link(href="/buy") Buy now for $39